/* =================
Add more styles here!
================= */

body {
    padding: 0;
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}

.map {
    position: absolute;
    right: 0px;
    left: 340px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 340px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
}

h1 {
  font-size: 22px;
  position:relative;
  bottom:10px
}

input {
  width:300px;
  height:22px
}
select {
  width:100px;
  height:18px;
  border-radius:3px;
  font-size:12px
}

h2 {
  font-size: 16px;
  font-family: Arial;
}

#line {
  width: 300px;
  background-color: grey;
  padding:1px;
  margin-top:20px;
  margin-bottom:30px
}

button {
  float:right;
  width: 80px;
  height:20px;
  font-size:12px;
  position:relative;
  bottom:50px
}

.greyback {
  position:relative;
  bottom:10px;
  padding-top:30px;
  padding-left:8px;
  padding-bottom:30px;
  background-color:#efefef;
  width:300px;
  margin-top:10px
}
.greywords {
  color:#ababab
}
p{
  font-size:16px;
  margin:3px
}
.smallword {
  font-size:14px;
}
